<%= simple_form_for(@lista) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :publica %>
    <%= f.input :global %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
