<h1 class="page-title">
  Listas
  <%= link_to 'Nova', new_lista_path, class: 'btn btn-primary btn-lg pull-right' %>
</h1>
<div class="separator"></div>
<table class="table table-hover table-striped data-table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Proprietário</th>
    <th>Publica</th>
    <th>Global</th>
    <th class="text-center" width="1">
      <i class="fa fa-cogs"></i>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @listas.each do |lista| %>
      <tr>
        <td><%= lista.nome %></td>
        <td><%= lista.usuario %></td>
        <td><%= lista.publica ? 'Sim' : 'Não' %></td>
        <td><%= lista.global ? 'Sim' : 'Não' %></td>
        <td width="1" class="text-center" style="white-space: nowrap">
          <%= link_to 'Destinatários', lista, class: 'btn btn-default btn-xs' %>
          <%= link_to 'Editar', edit_lista_path(lista), class: 'btn btn-primary btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

