<h1 class="page-title">
  Lista:
  <%= @lista.nome %>
  <%= link_to 'Voltar', listas_path, class: 'btn btn-default btn-lg pull-right' %>
  <%= link_to 'Editar', edit_lista_path(@lista), class: 'btn btn-primary btn-lg pull-right',style: 'margin-right: 5px  ' %>
</h1>
<div class="separator"></div>
<p>
  <strong>Propietário:</strong>
  <%= @lista.usuario %>
</p>

<p>
  <strong>Publica:</strong>
  <%= @lista.publica ? 'Sim' : 'Não' %>
</p>
<p>
  <strong>Global:</strong>
  <%= @lista.global ? 'Sim' : 'Não' %>
</p>
<%= render partial: 'edicao_destinatarios', locals: {lista: @lista} %>

