<h1 class="page-title">
  Lista:
  <%= @lista.nome %>
</h1>
<div class="separator"></div>
<p>
  <strong>Propietário:</strong>
  <%= @lista.usuario %>
</p>

<p>
  <strong>Publica:</strong>
  <%= @lista.publica ? 'Sim' : 'Não' %>
</p>
<p>
  <strong>Global:</strong>
  <%= @lista.global ? 'Sim' : 'Não' %>
</p>
<%= render partial: 'edicao_destinatarios', locals: {lista: @lista} %>

<%= link_to 'Edit', edit_lista_path(@lista) %> |
<%= link_to 'Back', listas_path %>
