<h1>Listing grupo_usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupo_usuarios.each do |grupo_usuario| %>
      <tr>
        <td><%= grupo_usuario.nome %></td>
        <td><%= link_to 'Show', grupo_usuario %></td>
        <td><%= link_to 'Edit', edit_grupo_usuario_path(grupo_usuario) %></td>
        <td><%= link_to 'Destroy', grupo_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo usuario', new_grupo_usuario_path %>
