<%= simple_form_for(@campanha) do |f| %>
    <%= f.error_notification %>

    <div class="clearfix">
      <div class="col col-md-6 col-xs-12">
        <%= f.input :nome, wrapper_html: {style: 'margin-bottom: 10px'} %>
        <%= f.input :descricao, label: 'Descrição', input_html: {style: 'resize: none', rows: 5} %>

        <div class="form-actions" style="margin-top: 10px">
          <%= f.button :submit, 'Salvar', class: 'btn btn-lg btn-block btn-primary' %>
        </div>
      </div>
    </div>
<% end %>
