<%= simple_form_for [@campanha, @mensagem] do |f| %>
    <%= f.error_notification %>

    <div class="clearfix">
      <div class="form-inputs clearfix">
        <%= f.input :envio,
                    label: 'Data de Envio',
                    as: :string,
                    input_html: {
                            class: 'date-time-picker',
                            style: 'margin-bottom: 10px'
                    },
                    wrapper_html: {
                            class: 'col col-lg-4 col-md-6 col-xs-12',
                            title: 'Caso a mensagem seja agendada para uma data retroativa, ela será enviada juntamente com o próximo lote.'
                    } %>
        <%= f.input :texto, wrapper_html: {class: 'col col-xs-12'} %>
      </div>

      <div class="form-actions col col-xs-12" style="margin-top: 10px">
        <%= f.button :submit, 'Salvar', class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
<% end %>
<% content_for :js do %>
    <%= javascript_include_tag 'editar_mensagem' %>
<% end %>
