<%= simple_form_for [@campanha, @mensagem] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :envio %>
    <%= f.input :texto %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
