<h1 class="page-title">
  Pré-visualização da mensagem
  <br>
  <small>Campanha <%= @campanha.nome %></small>
  <%= link_to 'Editar', edit_campanha_mensagem_path(@campanha, @mensagem), class: 'btn btn-primary btn-lg pull-right' %>
  <%= link_to 'Voltar', campanha_mensagens_path(@campanha), class: 'btn btn-default btn-lg pull-right', style: 'margin-right: 5px' %>
</h1>
<div class="separator"></div>
<p>
  <strong>Enviada: </strong>
  <%= @mensagem.enviada ? 'Sim' : 'Não' %>
</p>
<p>
  <strong>Envio: </strong>
  <%= @mensagem.envio.strftime '%d/%m/%Y às %H:%M' %>
</p>
<div class="separator"></div>
<p>
  <%== @mensagem.texto %>
</p>