<h1>Usuários</h1>
<div class="pull-right">
  <%= link_to 'Adicionar', new_usuario_path, class: 'btn btn-primary' if can? :create, Usuario %>
</div>

<div class="row">

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th>Grupo usuario</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.nome %></td>
          <td><%= usuario.login %></td>
          <td><%= usuario.grupo_usuario %></td>

          <td>
            <div>
              <%= link_to 'Editar', edit_usuario_path(usuario) %>
              <%= link_to 'Excluir', usuario, method: :delete, data: {confirm: 'Are you sure?'} %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
