<h1 class="page-title">Usuários
  <div class="pull-right">
    <%= link_to 'Novo', new_usuario_path, class: 'btn btn-primary btn-lg' if can? :create, Usuario %>
  </div>
</h1>
<div class="separator"></div>
<div class="row">

  <table class="table data-table table-striped table-hover">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th>Grupo</th>
      <th width="1" class="text-center">
        <i class="fa fa-cogs"></i>
      </th>
    </tr>
    </thead>

    <tbody>
    <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.nome %></td>
          <td><%= usuario.login %></td>
          <td><%= usuario.grupo_usuario %></td>

          <td class="text-center" width="1" style="white-space: nowrap">
            <%= link_to 'Editar', edit_usuario_path(usuario), class: 'btn btn-primary btn-xs' %>
            <%= link_to usuario.ativo? ? 'Desativar' : 'Ativar', usuario, class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: "Deseja #{usuario.ativo? ? 'desativar' : 'ativar'} esse usuário?"} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
